/*css*/
// sass 註解

//變數
@import 'sass/setting/var';
@import 'sass/setting/font';
@import 'sass/setting/color';
@import 'sass/setting/border_radius';

//function
@import 'sass/mixin/mixin';

// component
@import 'sass/component/btn';
@import 'sass/component/card';

// layout
@import 'sass/layout/body';
@import 'sass/layout/header';
@import 'sass/layout/nav';
@import 'sass/layout/login';
@import 'sass/layout/sidebar';
@import 'sass/layout/footer';

// page
@import 'sass/page/index';
@import 'sass/page/about';
@import 'sass/page/project';

// plugin







//區域變數 vs全域變數
.wrapper {
    $a: 20px; //  區域變數
    background-color: map-get($themeStyle, lightenColor); //map範例
    font-size: $a;
}

// .content {
//     // font-size: $a; // 這取不到區域變數
// }




.b {
    width: $b;
}

// 變數轉型
$class : a;

// class
.#{$class} {
    width: $b;
}



.img {
    background-image: url('img/#{$imgUrl}.jpg');
}



.box {
    #{$be}: 100px
}


// nesting 



// .wrapper header


//運算 (單位 / 小數點)

.el {
    width: 10 + 10px;
    height: 10px - 20px;
    margin: 10px * 10;
    font: ceil(20 / 16) + px; // 無條件進位
    //  font : round(20 / 16) + px;四捨五入
    //  font : floor(20 / 16) + px; //無條件捨去
}

//判斷式



.layout {
    @if $w==full {
        width: 100%;
    }

    @else {
        width: $w;
        margin: auto;
    }
}




//function 



@if $basiccolor=='primary' {
    .primary {
        color: #003cff
    }
}

@else if $basiccolor=='secondary' {
    .secondary {
        color: #ff6f00
    }

}

@else if $basiccolor=='error' {
    .error {
        color: red;
    }
}


// 宣告
@mixin name() {
    width: 100px;
    height: 100px;
}

//引用
.rect {
    @include name()
}

.circle {
    @include name()
}



// 變數
.box {
    @include rect(200px, 200px);
}




// 物件
.box-basic {
    @include rect(300px, 200px);
    background-color: #59f6d7;
}

//物件本身置中
.box-lg {
    @include center(400px);
    @include m(){
         width: 100px;
    }
    background-color: #eaff00;
}


//外容器針對內物件 置中
.section01 {
    @include center-flex();
}



//如果今天要給90%寬度時 要如何設計這個mixin


.wrapper {
    @include layout(1200);
    background-color: #d6d6d6;
    //手機板
    @include m(){
      @include layout(90);
      background-color: #ffabab;

    }
    
}

@mixin aa() {
    .aa {
        width: 100px;
        @content;
    }
}


@include aa() {
    background-color: #fff;
    color: #333;
}





@for $i from 5 through 100 {
  .spacing-#{$i} {
    margin-bottom: $i * 1px;
  }
}


@for $i from 5 through 100 {
  .push-left-#{$i} {
     position: relative;
     left: $i * 1px;
  }
}









