/*css*/
// sass 註解
// 變數型態
$fontSize : 16px; // 數值
$fontFamily : 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif; //字串
$color : #333; //顏色
$spacing : 10px 20px; // list
$dark : false; // 布林值

$themeStyle : (defaultColor : #eee,
    darkColor : #333,
    lightenColor : #fff); //map


$fontWeight : null; // 空值


body {
    font-size: $fontSize;
    color: $color;
    line-height: 1.4;
    font-family: $fontFamily;
    margin: $spacing;
    font-weight: $fontWeight;

    @if $dark {
        background-color: #333;
    }

}

//區域變數 vs全域變數
.wrapper {
    $a: 20px; //  區域變數
    background-color: map-get($themeStyle, lightenColor); //map範例
    font-size: $a;
}

.content {
    // font-size: $a; // 這取不到區域變數
}

//權重
$b : 300px;
$b : 400px !default; //預設值


.b {
    width: $b;
}

// 變數轉型
$class : a;

// class
.#{$class} {
    width: $b;
}

// url
$imgUrl : banner;

.img {
    background-image: url('img/#{$imgUrl}.jpg');
}

// 屬性
$be : height;

.box {
    #{$be}: 100px
}


// nesting 

.wrapper {
    width: 100%;
        header {
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          width: 60px;
          height: 40px;
          background-color: #0095ff;
        }
        nav {
            ul {
                display: flex;
                li {
                    width: 80px;
                    padding: 30px;
                    background-color: #a4a4a4;
                    a {
                      color: blueviolet;
                      &:hover {
                         color :  blue
                      } //偽元素
                      &::before {
                        content: '';
                      } 
                    }
                    // a:hover {
                    //     color :blue 
                    // }   
                }
                
            }

        }
    }



}


// .wrapper header