$bodyfont : 16px;
$h1font : $bodyfont * 5; 
$h2font : $bodyfont * 4; 
$h3font : $bodyfont * 3; 
$h4font : $bodyfont * 2; 
$h5font : $bodyfont * 1;

$fontweight700 : 700; 
$fontweight600 : 600; 
$fontweight500 : 500; 
$fontweight400 : 400; 
$fontweight300 : 300; 
$fontweight200 : 200; 
$fontweight100 : 100;

$microfont : 12px;


