$fontSize : 16px; // 數值
$fontFamily : 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif; //字串
$color : #333; //顏色
$spacing : 10px 20px; // list
$dark : false; // 布林值

$themeStyle : (defaultColor : #eee,
    darkColor : #333,
    lightenColor : #fff); //map


$fontWeight : null; // 空值

$b : 300px;
$b : 400px !default; //預設值

$class : a;

$imgUrl : banner;

$be : height;

$w : 1200px;

$basiccolor: 'primary';

$bv : 4px;
