// function

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// rwd 手機

@mixin m() {
    @media screen and (max-width:$device-m) {
        @content;
    }
}


// rwd 桌機
@mixin d() {
    @media screen and (min-width: $device-d) {
        @content;
    }
}


@mixin layout($w) {
    @if $w==100 {
        width: 100%;
    }

    @else if $w <=99 {
        width: $w * 1%;
        margin: auto;
    }

    @else {
        width: $w * 1px;
        margin: auto;
    }
}



//置中
@mixin center($w, $h:100px) {
    margin: auto;
    width: $w;
    height: $h;
}

// flex置中
@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 變數值
@mixin rect($w, $h:null) {
    width: $w;
    height: $h
}

// 圓角
@mixin borderRadius($size) {
    @if $size==large {
        border-radius: 30px;
    }

    @else if $size==medium {
        border-radius: 15px;
    }

    @else if $size==small {
        border-radius: 5px;
    }
}


// 推空間距離
@mixin spacing($var) {
    @for $i from 5 through $var {
        .spacing-#{$i} {
            margin-bottom: $i * 1px;
        }
    }
}


//推元件距離
@mixin push($var) {
    @for $i from 5 through $var {
        .pl-#{$i} {
            position: relative;
            left: $i * 1px;
        }

        .pr-#{$i} {
            position: relative;
            right: $i * 1px;
        }
    }
}



//design system Color


@mixin Bgcolor($class, $bgcolor) {
    @for $i from 1 through 10 {
        .#{$class}-#{$i} {
            width: 400px;
            height: 50px;
            background-color: lighten($bgcolor, $i * 6.5);
        }
    }
}


//字體 
//說明==================
// @include fontWeight(100 200 300 400)
//.title {font-weight:  100 200 300 ...}
@mixin fontWeight($w) {
    @each $i in $w {
        .title-#{$i} {
            font-weight: $i;
        }
    }
}


// slider輪播圖
@mixin slider($url) {
    @each $i in $url {
        .slider-#{$i} {
            background-image: url('img/#{$i}.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

// 以上都是list


// 以下map 

$map : (
  key : val,
  key2 : val2
);


//標題字
$headfont : (
 h1 : 96px,
 h2 : 60px,
 h3 : 48px,
 h4 : 34px,
 h5 : 24px,
 h6 : 18px,
 body : 16px,
 span  : 12px
); 


// h1 {font-size: map-get($headfont, h3);}

@each $k , $v in $headfont {
 #{$k} {
   font-size: $v;
 }
} 


$colorbg : (
   primary : #6d003e,
   secondary : #426600,
   error: rgb(137, 82, 0),
   success : #050069
);


// @each $k , $v in $colorbg {
//   .#{$k} {
//     background-color: $v;
//   }
// }


@each $k , $v in $colorbg {
  @include Bgcolor($k, $v)
}







