// function

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// rwd 手機

@mixin m() {
    @media screen and (max-width:$device-m) {
        @content;
    }
}


// rwd 桌機
@mixin d() {
    @media screen and (min-width: $device-d) {
        @content;
    }
}


@mixin layout($w) {
    @if $w==100 {
        width: 100%;
    }

    @else if $w <=99 {
        width: $w * 1%;
        margin: auto;
    }

    @else {
        width: $w * 1px;
        margin: auto;
    }
}



//置中
@mixin center($w, $h:100px) {
    margin: auto;
    width: $w;
    height: $h;
}

// flex置中
@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 變數值
@mixin rect($w, $h:null) {
    width: $w;
    height: $h
}

// 圓角
@mixin borderRadius($size) {
    @if $size==large {
        border-radius: 30px;
    }

    @else if $size==medium {
        border-radius: 15px;
    }

    @else if $size==small {
        border-radius: 5px;
    }
}


// 推空間距離
@mixin spacing($var) {
    @for $i from 5 through $var {
        .spacing-#{$i} {
            margin-bottom: $i * 1px;
        }
    }
}


//推元件距離
@mixin push($var) {
    @for $i from 5 through $var {
        .pl-#{$i} {
            position: relative;
            left: $i * 1px;
        }

        .pr-#{$i} {
            position: relative;
            right: $i * 1px;
        }
    }
}



//design system Color


@mixin Bgcolor($class , $bgcolor) {
    @for $i from 1 through 10 {
        .#{$class}Bg-#{$i} {
            width: 200px;
            height: 30px;
            background-color: lighten($bgcolor, $i * 6.5);
        }
    }
}

@include Bgcolor(primary, #3B0783);
@include Bgcolor(neutral, #878c00);